* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f3f1ff;
}
/*-----------------
 common styles 
----------------- */
.container {
  width: 100%;
  max-width: 870px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 36px;
  padding: 30px;
}

.section-title {
  color: #562eff;
  font-size: 1.5rem;
  margin-bottom: 40px;
}

/*-------------------------
   top players section styles
 --------------------------*/
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  grid-row-gap: 29px;
}
.player {
  display: flex;
  align-items: center;
  grid-column-gap: 16px;
}
.player img {
  width: 56px;
  height: 56px;
}
